<?xml version="1.0" encoding="utf-8"?>
<menu iconFile="{18c85207-90e5-42a2-9e04-93bae786e1f3}\red.ico" title="Change Folder Icon" iconIndex="0">
    <menu iconFile="{13920515-486a-4f5d-941b-915f716298eb}\work.ico" title="Work" iconIndex="0">
        <item iconFile="{13920515-486a-4f5d-941b-915f716298eb}\high-priority.ico" title="High Priority" iconIndex="0"/>
        <item iconFile="{13920515-486a-4f5d-941b-915f716298eb}\normal-priority.ico" title="Normal Priority" iconIndex="0"/>
        <item iconFile="{13920515-486a-4f5d-941b-915f716298eb}\low-priority.ico" title="Low Priority" iconIndex="0"/>
        <item iconFile="{13920515-486a-4f5d-941b-915f716298eb}\approved.ico" title="Approved" iconIndex="0"/>
        <item iconFile="{13920515-486a-4f5d-941b-915f716298eb}\pending.ico" title="Pending" iconIndex="0"/>
        <item iconFile="{13920515-486a-4f5d-941b-915f716298eb}\rejected.ico" title="Rejected" iconIndex="0"/>
        <item iconFile="{13920515-486a-4f5d-941b-915f716298eb}\work.ico" title="Work" iconIndex="0"/>
        <item iconFile="{13920515-486a-4f5d-941b-915f716298eb}\private.ico" title="Private" iconIndex="0"/>
        <item iconFile="{13920515-486a-4f5d-941b-915f716298eb}\important.ico" title="Important" iconIndex="0"/>
        <item iconFile="{13920515-486a-4f5d-941b-915f716298eb}\temp.ico" title="Temp" iconIndex="0"/>
        <item iconFile="{13920515-486a-4f5d-941b-915f716298eb}\favorites.ico" title="Favorites" iconIndex="0"/>
        <item iconFile="{13920515-486a-4f5d-941b-915f716298eb}\internet.ico" title="Internet" iconIndex="0"/>
    </menu>
    <menu iconFile="{717884a3-7e0e-4c03-b1ec-b214a60ca004}\Light Blue.ico" title="Folder - Light Color" iconIndex="0">
        <item iconFile="{717884a3-7e0e-4c03-b1ec-b214a60ca004}\Light Black.ico" title="Light Black" iconIndex="0"/>
        <item iconFile="{717884a3-7e0e-4c03-b1ec-b214a60ca004}\Light Blue.ico" title="Light Blue" iconIndex="0"/>
        <item iconFile="{717884a3-7e0e-4c03-b1ec-b214a60ca004}\Light Brown.ico" title="Light Brown" iconIndex="0"/>
        <item iconFile="{717884a3-7e0e-4c03-b1ec-b214a60ca004}\Light Green.ico" title="Light Green" iconIndex="0"/>
        <item iconFile="{717884a3-7e0e-4c03-b1ec-b214a60ca004}\Light Grey.ico" title="Light Grey" iconIndex="0"/>
        <item iconFile="{717884a3-7e0e-4c03-b1ec-b214a60ca004}\Light Normal Blue.ico" title="Light Normal Blue" iconIndex="0"/>
        <item iconFile="{717884a3-7e0e-4c03-b1ec-b214a60ca004}\Light Normal Green.ico" title="Light Normal Green" iconIndex="0"/>
        <item iconFile="{717884a3-7e0e-4c03-b1ec-b214a60ca004}\Light Orange.ico" title="Light Orange" iconIndex="0"/>
        <item iconFile="{717884a3-7e0e-4c03-b1ec-b214a60ca004}\Light Puple.ico" title="Light Puple" iconIndex="0"/>
        <item iconFile="{717884a3-7e0e-4c03-b1ec-b214a60ca004}\Light Red.ico" title="Light Red" iconIndex="0"/>
        <item iconFile="{717884a3-7e0e-4c03-b1ec-b214a60ca004}\Light Rose.ico" title="Light Rose" iconIndex="0"/>
        <item iconFile="{717884a3-7e0e-4c03-b1ec-b214a60ca004}\Light White.ico" title="Light White" iconIndex="0"/>
    </menu>
    <menu iconFile="{d1a37cb7-5c70-4a38-b4fa-1a8393abd5fd}\Blue.ico" title="Folder - Normal Color" iconIndex="0">
        <item iconFile="{d1a37cb7-5c70-4a38-b4fa-1a8393abd5fd}\Black.ico" title="Black" iconIndex="0"/>
        <item iconFile="{d1a37cb7-5c70-4a38-b4fa-1a8393abd5fd}\Blue.ico" title="Blue" iconIndex="0"/>
        <item iconFile="{d1a37cb7-5c70-4a38-b4fa-1a8393abd5fd}\Brown.ico" title="Brown" iconIndex="0"/>
        <item iconFile="{d1a37cb7-5c70-4a38-b4fa-1a8393abd5fd}\Green.ico" title="Green" iconIndex="0"/>
        <item iconFile="{d1a37cb7-5c70-4a38-b4fa-1a8393abd5fd}\Grey.ico" title="Grey" iconIndex="0"/>
        <item iconFile="{d1a37cb7-5c70-4a38-b4fa-1a8393abd5fd}\Light Blue.ico" title="Light Blue" iconIndex="0"/>
        <item iconFile="{d1a37cb7-5c70-4a38-b4fa-1a8393abd5fd}\Light Green.ico" title="Light Green" iconIndex="0"/>
        <item iconFile="{d1a37cb7-5c70-4a38-b4fa-1a8393abd5fd}\Orange.ico" title="Orange" iconIndex="0"/>
        <item iconFile="{d1a37cb7-5c70-4a38-b4fa-1a8393abd5fd}\Purple.ico" title="Purple" iconIndex="0"/>
        <item iconFile="{d1a37cb7-5c70-4a38-b4fa-1a8393abd5fd}\Red.ico" title="Red" iconIndex="0"/>
        <item iconFile="{d1a37cb7-5c70-4a38-b4fa-1a8393abd5fd}\Rose.ico" title="Rose" iconIndex="0"/>
        <item iconFile="{d1a37cb7-5c70-4a38-b4fa-1a8393abd5fd}\White.ico" title="White" iconIndex="0"/>
    </menu>
    <menu iconFile="{2db98154-a5f3-4279-8367-7d9f59ae9492}\Dark Blue.ico" title="Folder - Dark Color" iconIndex="0">
        <item iconFile="{2db98154-a5f3-4279-8367-7d9f59ae9492}\Dark Black.ico" title="Dark Black" iconIndex="0"/>
        <item iconFile="{2db98154-a5f3-4279-8367-7d9f59ae9492}\Dark Blue.ico" title="Dark Blue" iconIndex="0"/>
        <item iconFile="{2db98154-a5f3-4279-8367-7d9f59ae9492}\Dark Brown.ico" title="Dark Brown" iconIndex="0"/>
        <item iconFile="{2db98154-a5f3-4279-8367-7d9f59ae9492}\Dark Green.ico" title="Dark Green" iconIndex="0"/>
        <item iconFile="{2db98154-a5f3-4279-8367-7d9f59ae9492}\Dark Grey.ico" title="Dark Grey" iconIndex="0"/>
        <item iconFile="{2db98154-a5f3-4279-8367-7d9f59ae9492}\Dark Orange.ico" title="Dark Orange" iconIndex="0"/>
        <item iconFile="{2db98154-a5f3-4279-8367-7d9f59ae9492}\Dark Puple.ico" title="Dark Puple" iconIndex="0"/>
        <item iconFile="{2db98154-a5f3-4279-8367-7d9f59ae9492}\Dark Red.ico" title="Dark Red" iconIndex="0"/>
        <item iconFile="{2db98154-a5f3-4279-8367-7d9f59ae9492}\Dark Rose.ico" title="Dark Rose" iconIndex="0"/>
        <item iconFile="{2db98154-a5f3-4279-8367-7d9f59ae9492}\Dark White.ico" title="Dark White" iconIndex="0"/>
        <item iconFile="{2db98154-a5f3-4279-8367-7d9f59ae9492}\Drak Light Blue.ico" title="Drak Light Blue" iconIndex="0"/>
        <item iconFile="{2db98154-a5f3-4279-8367-7d9f59ae9492}\Drak Light Green.ico" title="Drak Light Green" iconIndex="0"/>
    </menu>
    <menu iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Windows10.ico" title="Main Windows 10" iconIndex="0">
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Approved.ico" title="Approved" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Clock.ico" title="Clock" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Completed.ico" title="Completed" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Down.ico" title="Down" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Download List.ico" title="Download List" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Download.ico" title="Download" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Dvd.ico" title="Dvd" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Favorites.ico" title="Favorites" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Half Finish.ico" title="Half Finish" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Important.ico" title="Important" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Internet.ico" title="Internet" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Lock.ico" title="Lock" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Note.ico" title="Note" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\One Star.ico" title="One Star" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Pending.ico" title="Pending" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Rejected.ico" title="Rejected" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Tasks.ico" title="Tasks" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Three Star.ico" title="Three Star" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Toy.ico" title="Toy" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Two Star.ico" title="Two Star" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Unfinished.ico" title="Unfinished" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Up.ico" title="Up" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Upload.ico" title="Upload" iconIndex="0"/>
        <item iconFile="{d0ec0131-cb99-4692-9c6c-aa234f5d54e4}\Windows10.ico" title="Windows10" iconIndex="0"/>
    </menu>
</menu>
